<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addCoordinator" method="POST">
        <h3>Add Coordinator</h3>
        Name: <input type="text" name="txtName">
        <br>
        Age: <input type="text" name="txtAge">
        <br>
        Email: <input type="email" name="txtEmail">
        <br>
        PhoneNumber: <input type="text" name="txtPhone">
        <br>
        Avatar: <input type="text" name="txtAva">
        <br>
        CCCD: <input type="text" name="txtCm">
        <br>
        Address: <input type="text" name="txtAddress">
    </form>
</body>
</html>