<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Category</title>
</head>

<body>
	<form action="editCategory" method="POST">
		<h3>Edit Category</h3>
		Name: <input type="text" name="txtName">
		<br>
		Description: <input type="text" name="txtDescription">
		<br>
		<input type="submit" value="Add">
	</form>
	<br> <a href="/manager">Back</a>
</body>

</html>