<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</head>
<body>
    <a href="manager"><h1>Quality Assurance Manager</h1></a>
    <a href="coordinator"><h1>Quality Assurance Coordinator</h1></a>
    <a href="staff"><h1>Staff</h1></a>
    <a href="admin"><h1>Admin</h1></a>
</body>
</html>