<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
<body>
    <h1>LOGIN</h1>
    <form action="/login" method="post">
            <div class="form-floating">
                <label for="txtName">Username</label>
                <input type="text" name="Username"/>
            </div>
            <br>
            <div class="form-floating">
                <label for="txtPass">Password</label>
                <input type="password" name="Password">
            </div>
            <br>
            <div class="text-center">
                <input type="submit" value="Sign in">
                <a href="#">Sign up</a>
            </div>
        </form>
</body>
</center>
</html>