.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.c-item {
    border: gainsboro 1px solid;
}

.nav {
    grid-column: 1;
    grid-row: 1/4;
}

.logo-uni img {
    max-width: 100%;
}

.nav li {
    list-style-type: none;
    padding: 10px 20px;
}

.nav li:hover {
    background-color: #ddd;
}

.controller {
    grid-column: 2/4;
    height: 100px;
    display: flex;
    border-bottom: none;
}

.controller div {
    border: 1px solid gainsboro;
    margin: auto;
    margin-top: 20px;
    padding: 30px 0px;
    border-radius: 5px;
}

.controller a {
    padding: 30px;
}

.controller a:hover {
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.body {
    grid-column: 2/4;
    min-height: 500px;
    border-top: none;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.search {
    display: flex;
}

.search form {
    margin: auto;
    width: 800px;
}

.search input {
    border: 1px solid white;
    width: 100%;
    height: 30px;
}

.search input:hover {
    background-color: gainsboro;
    border-radius: 5px;
}

.profile {
    display: flex;
}

.user {
    margin: auto;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.user:hover .dropdown {
    display: block;
}

footer {
    height: 30px;
    padding-top: 10px;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
}


/* table */

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    max-width: 130px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
}

#delete {
    padding: 5px 15px;
    background-color: #f0723c;
    color: #f5faf5;
    border: 1px solid #f0723c;
    border-radius: 5px;
}

#delete:hover {
    background-color: #bd3e08;
    border: 1px solid #bd3e08;
}

#detail {
    color: #4c78d8;
}

#detail:hover {
    color: blue;
}

#pass {
    padding: 5px 15px;
    background-color: #6ded6f;
    color: #f5faf5;
    border: 1px solid #6ded6f;
    border-radius: 5px;
}

#pass:hover {
    background-color: #41ab43;
    border: 1px solid #41ab43;
}


/* end table */

#save {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #77b4f2;
    color: #f5faf5;
    border: 1px solid #77b4f2;
    border-radius: 5px;
}

#save:hover {
    background-color: #3e95ed;
    border: 1px solid #3e95ed;
}

#cancel {
    padding: 5px 15px;
    background-color: #9faab6;
    color: #f5faf5;
    border: 1px solid #9faab6;
    border-radius: 5px;
}

#cancel:hover {
    background-color: #6a7683;
    border: 1px solid #6a7683;
}

h2 {
    border-top: 1px solid gainsboro;
    padding-top: 20px;
}

#add {
    width: 250px;
}

.slideshow {
    display: flex;
}

.slideshow img {
    margin: auto;
}
/* 
body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
} */
/* .table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
} */