<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Terms and Conditions</title>

	<link rel="stylesheet" href="mystyle.css">
</head>

<body>
	<form action="TaC"
		onsubmit="if(document.getElementById('agree').checked) { return true; } 
		else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false; }">

		<h1>Terms and Conditions</h1>
		<h4>
			THE FOLLOWING DESCRIBES THE TERMS AND CONDITIONS APPLICABLE TO YOUR USE OF THE “COMMENTS” SUBMISSION
			SERVICE
			AT THE XCONOMY WEB SITE.
			BY CLICKING THE “PUBLISH” BOX FOR YOUR COMMENT, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS AND
			ABIDE BY ALL OF THE RULES AND POLICIES SET FORTH HEREIN. IF YOU DO NOT AGREE TO THESE TERMS AND
			CONDITIONS,
			DO NOT SUBMIT YOUR COMMENT TO XCONOMY WEB SITE.
			<br><br>

			1. Xconomy owns and operates the xconnomy.com site (the “Site”). Your use of the features on the Site
			allowing for submission of a “Comment” is subject to the following terms and conditions (the “Terms”).
			Xconomy may modify these Terms at any time without notice to you by posting revised Terms on the Site.
			Your
			submission of a “Comment” to the Site following the modification of these Terms shall constitute your
			binding acceptance of and agreement to be bound by those modified Terms.
			<br><br>
			2. You must be 18 years of age or older to submit a “Comment” to the Site. By submitting a “Comment” and
			accepting these Terms through your clicking of the “Publish” box, you represent that you are at least 18
			years old.
			<br><br>
			3. Xconomy has the right, but not the obligation, to take any of the following actions, in Xconomy’s
			sole
			unfettered discretion, at any time, and for any reason or no reason, without providing any prior notice:
			a. Restrict, suspend or terminate your ability to submit “Comments,” or any other content, to the Site;
			b. Change, suspend or modify all or any part of the Site or the features thereof;
			c. Refuse or remove any material posted on, submitted to or communicated through the Site by you;
			d. Deactivate or delete any screen names, profiles or other information associated with you; or
			e. Alter, modify, discontinue or remove any content of the Site.
			<br><br>
			4. You agree that, when using or accessing the Site or any of the features thereof, you will not:
			a. Violate any applicable law or regulation;
			b. Interfere with or damage the Site;
			c. Transmit or introduce to the Site or to other users thereof any viruses, cancel bots, Trojan horses,
			flood pings, denial of service attacks, or any other harmful code or processes;
			d. Infringe the rights of any third party, including but not limited to any intellectual property
			rights,
			privacy rights, publicity rights or contractual rights;
			e. Transmit or submit harmful, threatening, abusive, harassing, defamatory, deceptive, fraudulent,
			obscene,
			indecent, vulgar, lewd, violent, hateful or otherwise objectionable content or material;
			f. Transmit or submit any unsolicited advertising, promotional materials, or spam;
			g. Stalk or harass any user or visitor to the Site; or
			h. Use the content or information available on the Site for any improper purpose.
			<br><br>
			5. You retain the Copyright in any “Comment” you submit to Xconomy. By submitting a “Comment” to
			Xconomy,
			you agree to grant Xconomy a irrevocable, non-exclusive, royalty-free, perpetual license to use the
			material
			or commentary that you have submitted, in any medium and in any manner that Xconomy may, in its sole
			unfettered discretion, choose.
			
		</h4> <br>
		<center>
			<input type="checkbox" name="checkbox" value="check" id="agree" />
			I have read and agree to the Terms and Conditions
			<br><br>
			<input id="agree" type="submit" name="submit" value="I Agree" />
		</center>

	</form>
</body>

</html>