<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
  </head>
  <body>
    <h1>Hello ChatBOX</h1>
    <ul id="message"></ul>
    <form action="" id="chatForm">
      <input type="text" id="chat">
      <button id="sendChat">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const name =prompt("what's your name?")
      const chatForm = document.querySelector('#chatForm');
      const chat = document.querySelector('#chat');
      chatForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const msg = chat.value;
        socket.emit('client-chat',{
          name,msg
        });
        chat.value = ''
      })
      const messages = document.querySelector('#message')
      socket.on('user-chat',(message)=>{
        const chatItem = document.createElement('li');
        chatItem.textContent = `${message.name}:${message.msg}`;
        messages.appendChild(chatItem)
      })

    </script>

  </body>
</html>